body{
    background: #000000;
    font-family: 'Montserrat', sans-serif;
}
header{
    background: #BBBBBB;
}
.cabeçalho{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {
    color: #FFFF00;
    font-size: 30px;
}

footer{
    text-align: center;
    background: url("/Produtos/IMG\ -\ Produtos/bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
    
}


/*Css Mobile*/
@media screen and (max-width: 480px){
    .cabeçalho, main{
         width: auto;
         padding: 10%;
    }
    h1{
     text-align: center;
    }
    nav{
     position: static;
     text-align: center;
    }
}